body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 78vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
  margin-top: 0;
}

h2{
  margin-top: 0;
}

nav{
  display: flex;
  width: 80vw;
  justify-content: flex-start;
  padding: 1rem;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer .dark{
  background-color: #5b575796;
}

footer {
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;  
}

.card-image {
  width: 100%;
  
}

.card-info {
  padding: 1rem;
  
}

.star-icon {
  width: 30px; 
  height: auto; 
}.star-icon {
  width: 30px; 
  height: auto; 
}

.favButton {
  background-color: #f0f2f3;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.favButton:hover {
  background-color: #0056b3;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.detail-container {
}

.detail-container.light {
  background-color: #fff;
  color: #000;
}

.detail-container.dark {
  background-color: #333;
  color: #fff;
}

.table-container {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 0;
}

.table-container table {
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table-container th,
.table-container td {
  padding: 10px 20px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-container th {
  font-weight: bold;
}
.table-container .dark th {
  background-color: #5b575796;
}


.navbar.dark {
  background-color: #5b575796;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #dddddd;
  width: 98.3%;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar.dark .nav-links a {
  color: white;
}

.navbar .nav-links a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}

.theme-button {
  background: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
}

.theme-button img {
  width: 24px;
}

.form-container .dark{
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 200px;
}

.form .dark {
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.success-message {
  color: green;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}

.contact-container {
  text-align: center;
}

.contact-container .dark{
  color: white;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f1f1f1;
}

.footer-content .dark {
  color: white;
  background-color:#5b575796;
}

.dh-logo {
  height: 50px; 
}

.social-media-icons {
  display: flex;
}

.social-media-icons img {
  margin-left: 10px; 
  cursor: pointer;
  height: 30px; 
}

.back-to-top-bar {
  width: 100%;
  padding: 10px 0;
  background-color: red;
  color: white;
  text-align: center;
  cursor: pointer;
}

.back-to-top-bar:hover {
  background-color: rgb(160, 69, 69);
}
